
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/1">Getting Started</a>
      <a mat-list-item routerLink="/2">Javascript en Typescript</a>
      <a mat-list-item routerLink="/3">Angular Anatomie</a>
      <a mat-list-item routerLink="/4">Data Binding</a>
      <a mat-list-item routerLink="/5">Services</a>
      <a mat-list-item routerLink="/6">Routing</a>
      <a mat-list-item routerLink="/7">Modules</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>