<mat-toolbar color="primary">
    <h1>Home</h1>
</mat-toolbar>
<p>
    Welkom bij de angular lite lesapplicatie.<br>
    In deze applicatie wordt de volledige les van Angular Lite uitgelegd, stap voor stap.
</p>
<p>
    Deze applicatie is ontworpen door Quinten Van Casteren voor de les Angular Lite.<br>
    Het doel van deze applicatie is de volledige lesinhoud van Angular in een eenvoudige applicatie gieten die
    de docent Michael Cloots dan kan gebruiken om zijn lessen te vereenvoudigen.<br>
    De applicatie geeft uitleg over alle nodige code en gebruikt deze ook zelf om voorbeelden te tonen.
</p>
<p>
    De applicatie maakt gebruik van twee kleuren (blauw en groen) om code aan te duiden.<br>
    Groen is voor in de console, blauw voor in de applicatie zelf.
</p>
<p>
    Contact can gezocht worden via het email quinvancas@hotmail.com<br>
    De applicatie is vindbaar op <a href="https://github.com/r0655176/AngularApplication">https://github.com/r0655176/AngularApplication</a><br>
    De applicatie draait op <a href="https://angular-cursus-project.firebaseapp.com/">https://angular-cursus-project.firebaseapp.com/</a>
</p>

<h3>Veel leerplezier</h3>
