/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
.codeclass {
    color:blue;
    font-weight: bold;
  }
  .consoleclass {
    color: green;
    font-weight: bold;
  }
  .border{
    background-color: lightgrey;
  }